/*:root {*/
/*    font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;*/
/*    background-color: #242424;*/
/*    font-synthesis: none;*/
/*    text-rendering: optimizeLegibility;*/
/*    -webkit-font-smoothing: antialiased;*/
/*    -moz-osx-font-smoothing: grayscale;*/
/*}*/


body {
    font-family: PingFang SC, Hiragino Sans GB, Microsoft YaHei, serif
}

.roomName {
    font-size: 14px;
    line-height: 16px;
    position: absolute;
    white-space: nowrap;
    padding: 0 12px 0 16px;
    background-color: rgba(75, 0, 130, 0.8);
    color: white;
    border-top-left-radius: 16px;
    border-bottom-left-radius: 16px;
    pointer-events: none; /* 确保不会影响鼠标事件 */
    opacity: 0;
    z-index: 10;
    display: flex;
    flex-direction: row;
    align-items: center; /* 垂直居中文本 */
    justify-content: center; /* 水平居中文本 */
}