@property --light-bg-color_1 {
    syntax: '<color>';
    inherits: false;
    initial-value: rgb(255 255 255);
}

@property --dark-bg-color_1 {
    syntax: '<color>';
    inherits: false;
    initial-value: rgb(28 28 32);
}

@property --light-bg-color_2 {
    syntax: '<color>';
    inherits: false;
    initial-value: rgb(243 243 243);
}

@property --dark-bg-color_2 {
    syntax: '<color>';
    inherits: false;
    initial-value: rgb(48 48 48);
}

@property --light-card-color {
    syntax: '<color>';
    inherits: false;
    initial-value: rgb(227 227 227);
}

@property --dark-card-color {
    syntax: '<color>';
    inherits: false;
    initial-value: rgb(62 62 68);
}

@property --light-text-color {
    syntax: '<color>';
    inherits: false;
    initial-value: rgb(55 65 81);
}

@property --dark-text-color {
    syntax: '<color>';
    inherits: false;
    initial-value: rgb(240 244 246);
}

@property --divider-light-color {
    syntax: '<color>';
    inherits: false;
    initial-value: rgb(224 228 230);
}

@property --divider-dark-color {
    syntax: '<color>';
    inherits: false;
    initial-value: rgb(58 65 72);
}

/* Applying variables to the styles */
body {
    margin: 0;
    padding: 0;
    --tw-text-opacity: 1;
    color: var(--light-text-color);
    --tw-bg-opacity: 1;
    background-color: var(--light-bg-color_1);
}

:is(.dark body) {
    --tw-text-opacity: 1;
    color: var(--dark-text-color);
    --tw-bg-opacity: 1;
    background-color: var(--dark-bg-color_1);
}

.header {
    --tw-text-opacity: 1;
    color: var(--light-text-color);
    --tw-bg-opacity: 1;
    background-color: var(--light-bg-color_1);
}

:is(.dark .header) {
    --tw-text-opacity: 1;
    color: var(--dark-text-color);
    --tw-bg-opacity: 1;
    background-color: var(--dark-bg-color_1);
}

.sidebar {
    --tw-bg-opacity: 1;
    background-color: var(--light-bg-color_1);
    --tw-text-opacity: 1;
    color: var(--light-text-color);
}

:is(.dark .sidebar) {
    --tw-bg-opacity: 1;
    background-color: var(--dark-bg-color_1);
    --tw-text-opacity: 1;
    color: var(--dark-text-color);
}

.content {
    border-top-left-radius: 1rem;
    --tw-text-opacity: 1;
    color: var(--light-text-color);
    --tw-bg-opacity: 1;
    background-color: var(--light-bg-color_2);
}

:is(.dark .content) {
    --tw-text-opacity: 1;
    color: var(--dark-text-color);
    --tw-bg-opacity: 1;
    background-color: var(--dark-bg-color_2);
}

.divide {
    border-color: var(--divider-light-color);
}

:is(.dark .divide) {
    border-color: var(--divider-dark-color);
}

.avatarContainer {
    --tw-text-opacity: 1;
    color: var(--light-text-color);
    --tw-bg-opacity: 1;
    background-color: var(--light-card-color);
    border: solid var(--light-bg-color_1) 2px;
}

:is(.dark .avatarContainer) {
    --tw-text-opacity: 1;
    color: var(--dark-text-color);
    --tw-bg-opacity: 1;
    background-color: var(--dark-card-color);
    border: solid var(--dark-bg-color_1) 2px;
}

.serverName {
    --tw-text-opacity: 1;
    color: var(--light-text-color);
    --tw-bg-opacity: 1;
    background-color: var(--light-bg-color_1);
}

:is(.dark .serverName) {
    --tw-text-opacity: 1;
    color: var(--dark-text-color);
    --tw-bg-opacity: 1;
    background-color: var(--dark-bg-color_1);
}

.ViewCard {
    --tw-bg-opacity: 1;
    background-color: var(--light-bg-color_1);
    --tw-text-opacity: 1;
    color: var(--light-text-color);
}

:is(.dark .ViewCard) {
    --tw-bg-opacity: 1;
    background-color: var(--dark-bg-color_1);
    --tw-text-opacity: 1;
    color: var(--dark-text-color);
}

input::placeholder {
    color: var(--light-text-color);
    font-weight: 600;
    background-color: transparent;
}

:is(.dark input)::placeholder {
    color: rgb(127, 127, 127);
    font-weight: 600;
    background-color: transparent;
}

select {
    background-color: transparent;
}

select option {
    background-color: transparent;
}

.roomListContainer {
    box-sizing: border-box;
    border-right: 2px solid var(--divider-light-color);
}

:is(.dark .roomListContainer) {
    border-right: 2px solid var(--divider-dark-color);
}
.channelMemberListContainer {
    box-sizing: border-box;
    border-left: 2px solid var(--divider-light-color);
}

:is(.dark .channelMemberListContainer) {
    border-left: 2px solid var(--divider-dark-color);
}