.baseToastStyle{
    height: 1rem;
    box-sizing: border-box;
    display: flex;
    flex-direction: row;
    align-items: center;
    border: solid 2px;
}

.mainSchemeToast{

    --tw-text-opacity: 1;
    color: rgb(55 65 81 / var(--tw-text-opacity));
    --tw-bg-opacity: 1;
    background-color: rgb(255 255 255 / var(--tw-bg-opacity));

}

/*background-color: rgb(240, 238, 241 / var(--tw-bg-opacity));*/

:is(.dark .mainSchemeToast){
    --tw-text-opacity: 1;
    color: rgb(240 244 246 / var(--tw-text-opacity));
    --tw-bg-opacity: 1;
    background-color: rgb(63 63 70 / var(--tw-bg-opacity))
}

.Vue-Toastification__close-button{
    --tw-text-opacity: 1;
    color: rgb(55 65 81 / var(--tw-text-opacity));
}
:is(.dark .Vue-Toastification__close-button){
    --tw-text-opacity: 1;
    color: rgb(240 244 246 / var(--tw-text-opacity));
}

.Vue-Toastification__progress-bar{
    --tw-text-opacity: 1;
    background-color: rgb(81 81 81 / var(--tw-text-opacity));
}
:is(.dark .Vue-Toastification__progress-bar){
    --tw-text-opacity: 1;
    background-color: rgb(174 174 174 / var(--tw-text-opacity));
}
